{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 pt-4">
<div class="row wow fadeIn">
     
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">item</th>
      <th scope="col">price</th>
      <th scope="col">quantity</th>
      <th scope="col">total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>
</div>
</div>
{% endblock content %}



   